.App {
  text-align: center;
}
.country .card{
  margin-bottom: 20px;
}
.country-wrapper {
  margin-top: 40px;
}
a.country_link {
  text-decoration: none;
}
.item-heading{
  text-align: left;
  font-weight: 400;
}